@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 200px) {
  .navbar {
    padding-top: 0;
    padding-right: 2rem;
  }
  .navbar .offcanvas-end {
    width: 100%;
  }
  .navbar .offcanvas-end .offcanvas-title {
    color: #003E29;
  }
  .navbar .offcanvas-end .navbar-nav .nav-link {
    color: #003E29;
    font-size: 24px;
  }
  .navbar .offcanvas-end .navbar-nav .nav-link:hover, .navbar .offcanvas-end .navbar-nav .nav-link:active {
    color: #ADE6B9;
  }
  .navbar .offcanvas-end .navbar-nav .show > .nav-link,
  .navbar .offcanvas-end .navbar-nav .nav-link.active {
    color: #003E29;
  }
  .navbar .offcanvas-end .navbar-nav .show > .nav-link:hover,
  .navbar .offcanvas-end .navbar-nav .nav-link.active:hover {
    color: #ADE6B9;
  }
  .navbar img {
    height: 100px;
    width: 100px;
  }
  .navbar ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar ul li {
    padding: 10px;
  }
  .btn-primary {
    display: none;
  }
  footer {
    background-color: #003E29;
    color: #fff;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container ul {
    list-style-type: none;
    text-align: center;
  }
  footer .footer-container ul li {
    padding: 10px;
  }
  footer .footer-container ul li a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (min-width: 576px) {
  .navbar {
    padding-bottom: 0;
    padding-right: 2rem;
  }
  .navbar .offcanvas-end {
    width: 60%;
  }
  .navbar .offcanvas-end .offcanvas-title {
    font-size: 36px;
  }
  .navbar .offcanvas-end .navbar-nav .nav-link {
    font-size: 24px;
  }
  .navbar img {
    height: 150px;
    width: 150px;
  }
  a p {
    display: none;
  }
  .btn-primary {
    display: block;
    color: #003E29;
    background-color: #ADE6B9;
    border-color: #ADE6B9;
    font-size: 24px;
    padding: 10px 25px;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #003E29;
    border-color: #003E29;
  }
  footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 992px) {
  .container-fluid {
    width: 70vw !important;
    margin-left: 15vw !important;
  }
  .navbar {
    padding-bottom: 0;
    padding-right: 2rem;
  }
  .navbar img {
    height: 150px;
    width: 150px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 200px) {
  .carousel .dark::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }
  .carousel .carousel-caption {
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: initial;
  }
  .carousel .carousel-caption h1 {
    margin: 0 7vw;
  }
  .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 12vh 0;
  }
  .reviews h1 {
    text-align: center;
    color: #003E29;
    letter-spacing: 3px;
  }
  .reviews .hide-mobile {
    display: none;
  }
  .reviews ul {
    list-style-type: none;
    padding-left: 0;
  }
  .reviews ul li {
    margin: 20px 0;
    padding: 0 20px;
  }
  .reviews ul li img {
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {
  .carousel {
    height: 85vh;
    min-width: 100%;
  }
  .carousel .carousel-item {
    height: 85vh;
    min-width: 100%;
  }
  .carousel .carousel-item img {
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
    min-width: 100%;
  }
  .highway-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 250px;
  }
  .highway-slider .highway-barrier {
    overflow: hidden;
    position: relative;
  }
  .highway-slider .highway-lane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .highway-slider .highway-lane .highway-car {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    color: #343434;
  }
  @-webkit-keyframes translateinfinite {
    100% {
      -webkit-transform: translateX(calc(-180px * 12));
              transform: translateX(calc(-180px * 12));
    }
  }
  @keyframes translateinfinite {
    100% {
      -webkit-transform: translateX(calc(-180px * 12));
              transform: translateX(calc(-180px * 12));
    }
  }
  #infinite .highway-barrier {
    background: #fff;
  }
  #infinite .highway-barrier::before, #infinite .highway-barrier::after {
    content: " ";
    position: absolute;
    z-index: 9;
    width: 180px;
    height: 100%;
  }
  #infinite .highway-barrier::before {
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  }
  #infinite .highway-barrier::after {
    top: 0;
    right: 0;
    background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  }
  #infinite .highway-barrier .highway-lane {
    width: calc(180px * 24);
  }
  #infinite .highway-barrier .highway-lane .highway-car {
    width: 180px;
    -webkit-animation: translateinfinite 120s linear infinite;
            animation: translateinfinite 120s linear infinite;
  }
  .reviews {
    margin: 12vh 0;
  }
  .reviews h1 {
    margin-bottom: 3vh;
  }
  .reviews ul li img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */