@import "./pages/variables.scss";

// Reset style
* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 200px) {
  .navbar {
    padding-top: 0;

    .offcanvas-end {
      width: 100%;

      .offcanvas-title {
        color: $dark-green;
      }

      .navbar-nav {
        .nav-link {
          color: $dark-green;
          font-size: 24px;

          &:hover,
          &:active {
            color: $light-green;
          }
        }

        .show > .nav-link,
        .nav-link.active {
          color: $dark-green;

          &:hover {
            color: $light-green;
          }
        }
      }
    }

    img {
      height: 100px;
      width: 100px;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      align-items: center;

      li {
        padding: 10px;
      }
    }
  }

  .btn-primary {
    display: none;
  }
  footer{
    background-color: $dark-green;
    color: white;
    position: fixed;
    margin-top: 2%;
    height: 50;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;

    ul {
        list-style-type: none;
        margin: 1rem 0;
        text-decoration: none;
        align-items: center;
        li {
          margin: 1rem;
        
        a {
          text-decoration: none;
          color: white;
          margin:1rem 0;

        }
      }
      .social-media {
        ul {
          display: flex;

        }
        

      }

    }   
  }

}

@media only screen and (min-width: 576px) {
  .navbar {
    padding-bottom: 0;
    padding-right: 2rem;

    .offcanvas-end {
      width: 60%;

      .offcanvas-title {
        font-size: 36px;
      }

      .navbar-nav {
        .nav-link {
          font-size: 24px;
        }
      }
    }

    img {
      height: 150px;
      width: 150px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container-fluid {
    width: 70vw !important;
    margin-left: 15vw !important;
  }

  a {
    p {
      display: none;
    }
  }

  .btn-primary {
      display: block;
      color: $dark-green;
      background-color: $light-green;
      border-color: $light-green;
      font-size: 24px;
      padding: 10px 25px;

      &:hover, &:active, &:focus {
        color: #fff;
        background-color: $dark-green;
        border-color: $dark-green;
      }
  }

  .navbar {
    padding-bottom: 0;
    padding-right: 2rem;

    img {
      height: 200px;
      width: 200px;
    }
  }
}
