@import "./pages/headerandfooter.scss";

@media only screen and (min-width: 200px) {
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 992px) {
  .carousel {
    height: 85vh;
    min-width: 100%;

    .carousel-item {
      height: 85vh;
      min-width: 100%;

      img {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-40%, -40%);
        min-width: 100%;
      }
    }
  }
}
