@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 200px) {
  .navbar {
    padding-top: 0;
    padding-right: 2rem;
  }
  .navbar .offcanvas-end {
    width: 100%;
  }
  .navbar .offcanvas-end .offcanvas-title {
    color: #003E29;
  }
  .navbar .offcanvas-end .navbar-nav .nav-link {
    color: #003E29;
    font-size: 24px;
  }
  .navbar .offcanvas-end .navbar-nav .nav-link:hover, .navbar .offcanvas-end .navbar-nav .nav-link:active {
    color: #ADE6B9;
  }
  .navbar .offcanvas-end .navbar-nav .show > .nav-link,
  .navbar .offcanvas-end .navbar-nav .nav-link.active {
    color: #003E29;
  }
  .navbar .offcanvas-end .navbar-nav .show > .nav-link:hover,
  .navbar .offcanvas-end .navbar-nav .nav-link.active:hover {
    color: #ADE6B9;
  }
  .navbar img {
    height: 100px;
    width: 100px;
  }
  .navbar ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar ul li {
    padding: 10px;
  }
  .btn-primary {
    display: none;
  }
  footer {
    background-color: #003E29;
    color: #fff;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0 !important;
  }
  footer .footer-container ul li {
    padding-top: 1em;
    padding-left: 0 !important;
  }
  footer .footer-container ul li a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (min-width: 576px) {
  .navbar {
    padding-bottom: 0;
    padding-right: 2rem;
  }
  .navbar .offcanvas-end {
    width: 60%;
  }
  .navbar .offcanvas-end .offcanvas-title {
    font-size: 36px;
  }
  .navbar .offcanvas-end .navbar-nav .nav-link {
    font-size: 24px;
  }
  .navbar img {
    height: 150px;
    width: 150px;
  }
  a p {
    display: none;
  }
  .btn-primary {
    display: block;
    color: #003E29;
    background-color: #ADE6B9;
    border-color: #ADE6B9;
    font-size: 24px;
    padding: 10px 25px;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #003E29;
    border-color: #003E29;
  }
  footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footer-container .linkFooter {
    -ms-flex-line-pack: left;
        align-content: left;
  }
}

@media only screen and (min-width: 992px) {
  .container-fluid {
    width: 70vw !important;
    margin-left: 15vw !important;
  }
  .navbar {
    padding-bottom: 0;
    padding-right: 2rem;
  }
  .navbar img {
    height: 150px;
    width: 150px;
  }
}
/*# sourceMappingURL=headerandfooter.css.map */